@import url('https://api.fontshare.com/v2/css?f[]=general-sans@700,600,500,400&f[]=gambetta@400,300&display=swap');

:root {
    --ink: #1a1612;
    --paper: #f5f0e8;
    --paper-dark: #ede8dc;
    --accent: #004E74;
    --accent-light: #c2d9e8;
    --muted: #8a8070;
    --border: #c8bfaa;
    --white: #fffef9;
    --warn: #e07a5f;

    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-full: 99px;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gambetta', sans-serif;
    background-color: var(--paper);
    color: var(--ink);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.landing-hero {
    text-align: center;
    padding: 80px 48px 60px;
    
}